/* YUI reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #e3e3e3;
}
h2 {
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -2px;
	color: #222;
}
a {
	font-weight: 600;
	color: #222;
	text-decoration: none;
}
a:hover {
	color: #444;
}
#header { 
	position: fixed; 
	top: 0;
	left: 0; 
	width: 100%; 
	background-color: grey;
	z-index: 1;
	background: white;
	filter: alpha(opacity=85);
	opacity: 0.85;
}
#logo {
	display: inline;
	letter-spacing: -3px;
	font-weight: 900;
	font-size: 2.5em;
	color: #222;
}
#nav {
	float: right;
}
#nav li {
	display: inline;
	padding: 0 0.1em;
}
.orange {
	color: #b64809;
}
.content {
	background-color: #f6f6f6;
	padding: 1em 0;
}

/* light grey #f6f6f6 */
